.vs/UnityCodes/v15/Server/sqlite3/storage.ide-wal
.vs/UnityCodes/v15/Server/sqlite3/storage.ide-shm
.vs/UnityCodes/v15/Server/sqlite3/storage.ide
.vs/UnityCodes/v15/Server/sqlite3/db.lock
.vs/UnityCodes/v15/.suo
Temp/
Library/
/obj
/UnityCodes.userprefs
/UnityCodes.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
